<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>servletLogin</servlet-name>
        <servlet-class>servlet.servletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCerrarSesion</servlet-name>
        <servlet-class>servlet.servletCerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletRegistro</servlet-name>
        <servlet-class>servlet.servletRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCarrito</servlet-name>
        <servlet-class>servlet.servletCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletProducto</servlet-name>
        <servlet-class>servlet.servletProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCancelarPedido</servlet-name>
        <servlet-class>servlet.servletCancelarPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletVaciarCarro</servlet-name>
        <servlet-class>servlet.servletVaciarCarro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletEliminarProductoCarro</servlet-name>
        <servlet-class>servlet.servletEliminarProductoCarro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCarritoComprarYa</servlet-name>
        <servlet-class>servlet.servletCarritoComprarYa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletRealizarPedido</servlet-name>
        <servlet-class>servlet.servletRealizarPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCantidad</servlet-name>
        <servlet-class>servlet.servletCantidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletMostrarDetallesAdmin</servlet-name>
        <servlet-class>servlet.servletMostrarDetallesAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletLogin</servlet-name>
        <url-pattern>/servletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCerrarSesion</servlet-name>
        <url-pattern>/servletCerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletRegistro</servlet-name>
        <url-pattern>/servletRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCarrito</servlet-name>
        <url-pattern>/servletCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletProducto</servlet-name>
        <url-pattern>/servletProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCancelarPedido</servlet-name>
        <url-pattern>/servletCancelarPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletVaciarCarro</servlet-name>
        <url-pattern>/servletVaciarCarro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletEliminarProductoCarro</servlet-name>
        <url-pattern>/servletEliminarProductoCarro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCarritoComprarYa</servlet-name>
        <url-pattern>/servletCarritoComprarYa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletRealizarPedido</servlet-name>
        <url-pattern>/servletRealizarPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCantidad</servlet-name>
        <url-pattern>/servletCantidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletMostrarDetallesAdmin</servlet-name>
        <url-pattern>/servletMostrarDetallesAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>PaginaPrincipalCliente.jsp</welcome-file>
    </welcome-file-list>
</web-app>
